h2 {
  padding-top: 5vh;
}

img {
  border: #f1f1f1;
  border-width: 10px;
  width: 95%;
  height: 95%;
  margin-top: 1.25vh;
}

body {
  background-color: #e7e9ec;
}

.header {
  position: relative;
  text-align: center;
  background-color: #2a3d61;
  color: #e7e9ec;
  font-family: "Cabin", sans-serif;
  z-index: 1;
  width: 100%;
  height: 15%;
}

.images {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-auto-rows: 80%;
  gap: 5%;
  position: relative;
  top: 5%;
  left: 10%;
  float: left;
  z-index: 1;
  max-width: 80%;
  max-height: 85%;
}

.img {
  background-color: #111;
  height: 70%;
}

.label {
  text-align: center;
  max-width: 100%;
  height: 30%;
  width: auto;
  background-color: #111;
  color: #f1f1f1;
  padding-top: 10px;
}

.data {
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-auto-rows: 80%;
  gap: 5%;
  position: relative;
  top: 5%;
  left: 10%;
  float: left;
  z-index: 1;
  max-width: 80%;
  max-height: 85%;
  padding: 40px;
}

.gallery .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 4px;
    transition: 0.15s ease-in-out;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
  border: #f1f1f1;
  border-width: 10px;
  width: 95%;
  height: 70%;
  margin-top: 1.25vh;
}

.gallery .thumbnail:hover {
    transform: translateY(-10px) scale(1.02);
}

.gallery .lightbox img {
    border-radius: 4px 4px 0 0;

}

.gallery .caption{
    padding: 26px 30px;
    text-align: center;
}

.gallery .caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.gallery .caption p {
    font-size: 12px;
    color: #7b7d7d;
    margin: 0;
}

.baguetteBox-button {
    background-color: transparent !important;
}